{:logseq-bullet-threading {:version "v1.1.0", :repo "pengx17/logseq-plugin-bullet-threading", :effect false, :theme false}
 :logseq-tabs {:version "v1.17.3", :repo "pengx17/logseq-plugin-tabs", :effect true, :theme false}
 :logseq-kanban-plugin {:version "v2.7.3", :repo "hkgnp/logseq-kanban-plugin", :effect false, :theme false}
 :logseq-todo-plugin {:version "v1.11.1", :repo "ahonn/logseq-plugin-todo", :effect true, :theme false}
 :logseq-vim-shortcuts {:version "v0.1.16", :repo "vipzhicheng/logseq-plugin-vim-shortcuts", :effect true, :theme false}
 :logseq-plugin-heading-level-shortcuts {:version "v0.0.5", :repo "vipzhicheng/logseq-plugin-heading-level-shortcuts", :effect false, :theme false}
 :logseq-d42ker-theme {:version "v0.0.9", :repo "LeonWong0609/D42ker-Logseq", :effect false, :theme true}
 :logseq-mark-map {:version "v0.2.13", :repo "vipzhicheng/logseq-plugin-mark-map", :effect false, :theme false}
 :logseq-todo-master {:version "v1.10.3", :repo "pengx17/logseq-plugin-todo-master", :effect false, :theme false}
 :logseq-tags {:version "v0.1.2", :repo "gidongkwon/logseq-plugin-tags", :effect false, :theme false}
 :logseq-markdown-table {:version "v1.7.0", :repo "haydenull/logseq-plugin-markdown-table", :effect false, :theme false}
 :logseq-heatmap {:version "v2.4.3", :repo "pengx17/logseq-plugin-heatmap", :effect true, :theme false}
 :logseq-link-preview {:version "v2.2.9", :repo "pengx17/logseq-plugin-link-preview", :effect true, :theme false}
 :logseq-awesome-styler {:version "v3.1.13", :repo "yoyurec/logseq-awesome-styler", :effect true, :theme false}
 :logseq-toolbox {:version "0.0.2", :repo "tankcool/logseq-toolbox", :effect false, :theme false}}
